.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  border-top: 2px solid blue;
}

.link-section {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex: 1;
}

.banner-logo {
  flex: 1;
  text-align: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination a {
  margin: 16px;
}

@media (max-width: 1100px) {
  .page-active {
    font-size: 70px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .page {
    font-size: 70px;
    color: black;
  }
  .next-button, .prev-button {
    font-size: 70px;
    padding: 12px 16px 12px 16px;
    background-color: blue;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
  
}

.next-button, .prev-button {
  padding: 12px 16px 12px 16px;
  background-color: blue;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.pagination {
  margin: 16px;
}

.page-active {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.page {
  color: black;
}

