.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 74px;
    background-color: white;
    border-bottom: 2px solid blue;
}

.middle-section {
    font-size: 36px;
    font-weight: bold;
    color: rgb(74, 74, 74);
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.left-section img {
    width: 40px;
}